@font-face {
    font-family: Eclyera;
    src: url("Eclyera.ttf");
}
body {
    background-color:#222333;
    color: white;
    text-align:center;
    font-family: 'Noto Sans JP', sans-serif;
}
.langSelector {
    text-align: right;
}
h1 {
    color:white;
}
h2 {
    color:red;
    text-align:left;
    position: fixed;
}
.moveloop {
    animation: moveloop 4s linear 0s infinite normal;
    font-family: Eclyera;
}
@keyframes moveloop {
    0%{
        transform: translateX(-500px)
    }
    100%{
        transform: translateX(2000px)
    }
}
p {
    font-weight:bold;
    color:#888999;
}
a {
    color: blue
}
.custom-font {
    font-family: Eclyera;
}
h1.custom-font {
    font-weight: normal;
}
#path {
    color:#007dff;
}
.spoiler {
    color: #222333;
}
#shtx {
    inline-size: 99%;
}