body{
    font-family: sans-serif;
}
  .container-m {
    margin-top: 80px;
}
.rororo{
    text-align: center;
    width:90%;
    margin: 0 auto;
  max-width: 700px;
}
.moji{
    text-align: center;
}
.pd{
    padding: 10px;
}
h5{
    line-height:40px;
}
.pc_br {
     display: block
}
@media screen and (max-width: 480px){
    .pc_br {
         display: none;
    }
}
h3{
    font-weight: bold;
}
h2{
    font-weight: bold;
}
.aaaaa{
    text-align: center;
    width:100%;
    margin: 0 auto;
  max-width: 2000px;
}

/*
     FILE ARCHIVED ON 09:04:16 Apr 08, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:00:17 Apr 15, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 93.594
  exclusion.robots: 0.068
  exclusion.robots.policy: 0.059
  cdx.remote: 0.055
  esindex: 0.008
  LoadShardBlock: 44.415 (3)
  PetaboxLoader3.datanode: 101.006 (5)
  load_resource: 357.086
  PetaboxLoader3.resolve: 98.763
  loaddict: 236.069
*/